body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main {
  position: relative;
  z-index: 2;
  padding: 2.5rem;
}

.title {
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.125rem;
  margin-top: 0.5rem;
}

#circuitCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#renderCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
