---
import "../styles/global.css"; // Make sure this exists
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Developer</title>
  </head>
  <body>
    <slot />
  </body>
</html>
